/*Fonts*/
@font-face{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"),
    url("/fonts/roboto.woff2") format("woff2"),
    url("/fonts/roboto.woff") format("woff");
}

@font-face{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto"),
    url("/fonts/robotomedium.woff2") format("woff2"),
    url("/fonts/robotomedium.woff") format("woff");
}

@font-face{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"),
    url("/fonts/robotobold.woff2") format("woff2"),
    url("/fonts/robotobold.woff") format("woff");
}

/* Variables*/

:root{
  --basic-black: #000000;
  --basic-dark: #283136;
  --modal-map-text: #666666;
  --modal-placeholder-text: #444444;
  --radio-gray: #4d4d4d;
  --form-focus: #b4b9bb;
  --basic-gray: #eeeeee;
  --active-border: #dbdbdb;
  --border-gray: #d7dcde;
  --medium-gray: #dfdfdf;
  --dark-gray: #d5d5d5;
  --catalog-border-gray: #f2f2f2;
  --slider-gray: #c1c1c1;
  --social-gray: #e1e1e1;
  --basic-white: #ffffff;
  --basic-red: #fb565a;
  --medium-red: #e74246;
  --dark-red: #d7373b;
  --basic-green: #00ca74;
  --medium-green: #00bc6c;
  --dark-green: #00aa62;
  --basic-yellow: #efc849;
  --medium-yellow: #eab534;
  --dark-yellow: #e5a722;
  --opacity-white: rgba(255, 255, 255, 0.3);
  --button-shadow: rgba(1, 0, 1, 0.1);
}

/*Grid*/

.page{
  height: 100%;
}

/*Global*/

.page-body{
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.invisible{
  display: none;
}

section h2{
  display: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}



/*Button*/

button{
  margin: 0;
  padding: 0;
}

.button{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 3px;
}

.button:hover{
  background-color: var(--medium-red);
}

.button:focus{
  background-color: var(--dark-red);
  color: var(--opacity-white);
}

/*Main-header*/

.main-header h1{
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 108px;
}

.main-header{
  background-color: var(--basic-gray);
  margin-bottom: 80px;
}

.main-navigation{
  font-size: inherit;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;

  width: 1160px;
  margin: 49px auto 0px auto;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header-logo{
  width: 160px;
  height: 65px;
}

.main-header-logo:hover{
  opacity: 0.7;
}

.main-header-logo:focus{
  opacity: 0.3;
}

.site-navigation{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 45px;
}

.site-navigation-list a{
  padding-bottom: 13px;
}

.site-navigation a,
.user-navigation a{
  color: var(--basic-black);
}

.site-navigation a:hover,
.user-navigation a:hover{
  color: var(--basic-red);
}

.site-navigation a:focus,
.user-navigation a:focus{
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation a:not([href]),
.user-navigation a:not([href]){
  border-bottom: 2px solid var(--basic-red);
}

.user-navigation{
  align-self: center;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 25px;
}

.user-navigation::before{
  content:"";

  width: 15px;

  background-image: url("/img/icons/cart-icon.svg") ;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;

}

/*Features*/

.features{
  width: 1157px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 400px 760px;
}

.features h2{
  display: none;
}

.features h3{
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  max-width: 538px;
  margin: 0px;
  margin-top: 78px;
  margin-bottom: 25px;

  grid-column: 1/-1;
  grid-row: 1/2;
}

.slider-2 h3,
.slider-3 h3{
  margin-bottom: 37px;
}


.features p{
  grid-column: 1/-1;
  grid-row: 2/3;
  margin: 0;
  margin-bottom: 38px;
  max-width: 416px;
}
.slider-2 p{
  margin-bottom: 27px;
}
.slider-3 p{
  margin-bottom: 26px;
}

.slider-3,
.slider-2{
  display: none;
}

.features .wrapper{
  width: 240px;
  height: 50px;
  margin-bottom: 80px;

  grid-column: 1/-1;
  grid-row: 3/4;
}

.slider-button{
  display: table-cell;
  width: 240px;
  height: 50px;
}

.features img{
  width: 760px;
  height: 431px;

  grid-row: 1/4;
  grid-column: 2/-1;
}

.slider-button-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88px;
  height: 50px;
  z-index: 2;
  margin-left: 139px;

  grid-column: 2/-1;
  grid-row: 3/4;
}

.slider{
  border: none;
  padding: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--basic-white)
}

.active-slider{
  outline: 2px solid var(--slider-gray);
  outline-offset: -7px;
}

/*Container*/
.container{
  width: 1160px;
  margin: 0 auto;
  padding: 0;
 }

.index-page{
  margin-bottom: 80px;
}

/*Services*/

.services{
  margin-bottom: 80px;
}

.services h2{
  display: none;
}

.services-list{
  width: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-item img{
  margin-bottom: 25px;
}

.services-item h3{
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.services-item p{
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.order-red-button{
  display: table-cell;
  width: 160px;
  height: 50px;
  color: var(--basic-white);
  line-height: 18px;
  background-color: var(--basic-red);
  vertical-align: middle;
  text-align: center;
}

.order-red-button:hover{
  background-color: var(--medium-red);
}

.order-red-button:focus{
  background-color: var(--dark-red);

}

.services-item .order-green-button{
  display: table-cell;
  width: 160px;
  height: 50px;
  color: var(--basic-white);
  line-height: 18px;
  background-color: var(--basic-green);
  vertical-align: middle;
  text-align: center;
}

.services-item .order-green-button:hover{
  background-color: var(--medium-green);
}

.services-item .order-green-button:focus{
  background-color: var(--dark-green);
}

.services-item .order-green-button:focus span{
  opacity: 0.3;
}

.services-item .order-yellow-button{
  display: table-cell;
  width: 160px;
  height: 50px;
  color: var(--basic-white);
  line-height: 18px;
  background-color: var(--basic-yellow);
  vertical-align: middle;
  text-align: center;
}

.services-item .order-yellow-button:hover{
  background-color: var(--medium-yellow);
}

.services-item .order-yellow-button:focus{
  background-color: var(--dark-yellow);
}

.services-item .order-yellow-button:focus span{
  opacity: 0.3;
}

.line{
  width: 1158px;
  height: 2px;
  background-color: var(--basic-gray);
  margin-bottom: 39px;
}


/*Index colunms*/


.index-columns{
  width: 1174px;
  display: flex;
  justify-content: space-between;

  margin-bottom: 73px;
}


/*About*/


.intro{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);

  margin: 0;
  padding: 0;
  margin-top: 34px;
  margin-bottom: 32px;
}

.privelege{
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.option{
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.option-list{
  margin: 0;
}

.option-item:not(:last-child){
  margin-bottom: 25px;
}



/*Statistic*/


.statistic{
  width: 360px;
  margin-right: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.statistic img{
  width: 360px;
  height: 208px;
  margin-bottom: 37px;
}

.statistic-table{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.table-caption{
  margin: 0;
  margin-bottom: 31px;
  text-align: center;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.statistic-table dd{
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0;
  text-align: left;
  margin-bottom: 10px;
  grid-row: 1;

}

.statistic-table .percent{
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  color: var(--basic-black);
}

.statistic-table dt{
  line-height: 18px;
  grid-row: 2;
}


/*Clients*/


.clients-list{
  box-sizing: border-box;
  border-top: 2px solid var(--basic-gray);
  border-bottom: 2px solid var(--basic-gray);
  min-height: 184px;
  list-style: none;
  margin: 0;
  padding: 0;

/*
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  column-gap: 40px;
*/

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

}

/*
.clients-item:not(:nth-child(4n))::after{
  content: "";

  display: inline-block;

  margin-left: 30px;
  border-right: 2px solid var(--basic-gray);
  height: 52px;
}
*/


.clients-item a{
  opacity: 0.2;
}

.clients-item a:hover{
  opacity: 1;
}

.clients-item a:focus{
  opacity: 0.1;
}


/*footer*/


.main-footer{
  margin-bottom: 68px;
}

.main-footer-catalog{
  margin-bottom: 76px;
}

.footer-contacts{ /*От карты до девиза*/
  margin-bottom: 68px;

  width: 100%;
  height: 416px;
}

.map-contacts{
  width: 319px;
  min-height: 308px;
  background-color: #00aa62;
  display: flex;
  flex-direction: column;

}

.map-contacts h3{
  padding: 0;
  margin-left: 50px;
  margin-top: 49px;
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.map-contacts p{
  margin: 0;
  padding: 0;
  margin-left: 50px;
  margin-bottom: 18px;
  line-height: 18px;
  color: var(--modal-map-text);
}

.contacts-phone{
  color: var(--modal-map-text);
  line-height: 18px;
  margin-left: 50px;
  margin-bottom: 37px;
}

.modal-button{
  margin: 0;
  padding: 0;
  margin-left: 50px;
  width: 219px;
  height: 50px;
}

/*Social*/

.footer-wrapper{
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 140px;
}

.social-list{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 260px;
  display: flex;
  justify-content: space-between;
}

.social-item {
  width: 81px;
  height: 81px;
  background-color: var(--social-gray);
  border-radius: 50%;
}

.social-item .social-button{
  display: block;
  width: 26px;
  height: 15px;
  padding: 33px 27px;
  border-radius: 50%;
}

.social-item:nth-child(2) .social-button{
  display: block;
  width: 12px;
  height: 22px;
  padding: 31px 34px 28px 35px;
  border-radius: 50%;
}

.social-item:nth-child(3) .social-button{
  display: block;
  width: 21px;
  height: 21px;
  padding: 30px;
  border-radius: 50%;
}

.social-item a:hover{
  background-color: var(--medium-red);
}

.social-item a:focus{
  background-color: var(--dark-red);
}

.social-item a:focus img{
  opacity: 0.3;
}



/*Slogan*/

.slogan p{
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: var(--basic-black);
  margin-top: 7px;
  margin-bottom: 10px;
}

.slogan .discount{
  font-size: inherit;
  line-height: 22px;
  color: var(--modal-placeholder-text);
  margin: 0;
  padding: 0;
}


/*Modal*/


.modal{

  margin: 50px;
  display: flex;
  flex-wrap: wrap;

  width: 960px;
  min-height: 590px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.not-active{
  display: none;
}

.modal h3{
  order: 1;

  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  color: var(--basic-black);
  max-width: 738px;
  margin-top: 63px;
  margin-left: 100px;
  margin-bottom: 37px;

}

.login-form{
  order: 2;

  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 84px;
  height: 353px;
  display: grid;
  grid-template-columns: 360px 360px;
  grid-template-rows: 77px 145px 50px;
  column-gap: 40px;
  row-gap: 34px;
}

.login-form p{
  margin: 0;
  padding: 0;
}

.login-form .name{
  grid-column: 1/2;
}

.login-form .email{
  grid-column: 2/3;
}

.login-form .comment{
  grid-column: 1/-1;
  grid-row: 2/3;
}

.login-form .button{
  grid-column: 1/2;
  grid-row: -2/-1;
}

.login-form label{
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-black);
}

.login-form input[type="email"],
.login-form input[type="text"],
.login-form .login-message{
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  padding-right: 14px;
  font:  inherit;
  color: var(--modal-placeholder-text);
  line-height: 18px;
  border: 2px solid var(--border-gray);
}

.login-form .login-message{
  height: 118px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
  color: var(--modal-placeholder-text);
  opacity: 0.5;
}

input:focus::-webkit-input-placeholder{
  opacity: 1;
}

.login-form input[type="email"]:hover,
.login-form input[type="text"]:hover,
.login-form .login-message:hover{
  border: 2px solid var(--form-focus);
  color: var(--modal-placeholder-text);
}

.login-form input[type="email"]:focus,
.login-form input[type="text"]:focus,
.login-form .login-message:focus{
  border: 2px solid var(--basic-black);
  color: var(--basic-black);
}

.login-form input[type="email"]:invalid,
.login-form input[type="text"]:invalid,
.login-form .login-message:invalid{
  border: 2px solid var(--medium-red);
  color: var(--medium-red);
}

.login-form .button{
  padding: 0;
  margin: 0;
  margin-top: 13px;
  width: 259px;
  height: 50px;
}

.modal-close{
  order: 1;

  width: 21px;
  height: 21px;
  padding: 0;
  margin-left:auto;
  margin-top: 78px;
  margin-right: 90px;
  border: none;
  background-color: var(--basic-white);
  opacity: 0.3;
}

.modal-close:hover{
  opacity: 1;
}

.modal-close:focus{
  opacity: 0.1;
}










/*Catalog.html*/

.inner-page{
  margin-bottom: 55px;
}

.inner-navigation{
  margin-bottom: 78px;
}

.inner-page h1{
  width: 727px;
  margin: 0 auto 108px;
}


/*Page-catalog*/


 .page-catalog{
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
  margin-bottom: 60px;
 }


 /*Sort*/


.sort{
  grid-column: 1/-1;
  margin-bottom: 47px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 42px;
}

.sort h3{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.sort-list-wrapper{
  display: flex;
  justify-content: space-between;
}

.sort-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-item:not(:last-child){
  margin-right: 25px;
}

.up-down{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.up-down .sort-item-down{
  margin-right: 18px;
}

.sort-item button{
text-transform: uppercase;
font-size: 14px;
line-height: 18px;
color: var(--basic-black);
border: none;
background-color: inherit;
opacity: 0.3;
}

.sort-item:nth-child(4){
  margin-left: 0px;
}

.sort-item button:hover{
  opacity: 0.6;
}

.sort-item button:focus,
.services-item button:active{
  opacity: 1;
}


/*Filter*/


.filter-form fieldset{
  border: none;
  margin: 0;
  padding: 0;
}

.filter-form legend{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-bottom: 16px; /*до текста*/
}


.range{
  background-color: var(--basic-gray);
  margin: 0;
  padding: 0;
  width: 260px;
  height: 80px;
  display: flex;
  margin-bottom: 14px;
}

.range input[type="range"]{
  width: 205px;
  height: 2px;
  margin: auto;
}

.filter-form-price{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.filter-form-output{
  line-height: 22px;
  width: 80px;
  height: 38px;
  background-color: var(--basic-green);
  text-align: center;
}

.filter-form .form-price-range{
  margin-bottom: 54px;
}

.filter-form .filter-item{
  margin: 0;
  padding: 0;
  height: 20px;
}

.filter-form .filter-item:not(:last-child){
  margin-bottom: 20px;
}

.filter-form .form-net{
  margin-bottom: 47px;
}

.filter-form .form-peculiarities{
  margin-bottom: 50px;
}

.filter-form label{
  line-height: 20px;
}

.filter-form input:disabled+label{
  opacity: 0.3;
}

.filter-button{
  padding: 0;
  font: inherit;
  width: 260px;
  height: 50px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-gray);
  border: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
}

.filter-button:hover{
  background-color: var(--medium-gray);
}

.filter-button:focus{
  background-color: var(--dark-gray);
  box-shadow:inset 0 3px 0 var(--button-shadow);
}

.filter-button:focus span{
  opacity: 0.3;
}


/*Catalog*/


.catalog{
  margin-bottom: 55px;
}

.catalog-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 42px;
  row-gap: 32px;
}

.catalog-item{
  margin: 0;
  width: 360px;
  height: 620px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--catalog-border-gray);
  display: flex;
  flex-direction: column;
}



.catalog-item:hover .card-browser{
  opacity: 1;
}

.catalog-item:first-child .card-img{
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.card-img{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: 1px solid var(--catalog-border-gray);
  outline-offset:-1px ;
  width: 360px;
  height: 578px;
}

.card-browser{
  opacity: 12%;
}

.modal-price{
  visibility: hidden;
  position: relative;
  top: -230px;
  left: 0%;
  width: 360px;
  height: 231px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font: inherit;
  line-height: 18px;
  background-color: var(--basic-gray);
  color: var(--modal-map-text);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.catalog-item:hover .modal-price{
  visibility: visible;
}

.modal-price a{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 26px;
  margin-bottom: 12px;
}

.modal-price a:hover{
  color: var(--basic-red);
}

.modal-price a:focus{
  color: var(--basic-black);
  opacity: 0.3;
}

.modal-price p{
  margin-top: 0;
  margin-bottom: 32px;
}

.modal-price .button-price{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 3px;

  width: 200px;
  height: 50px;
  align-self: center;
  margin-top: 0;
  margin-bottom: 44px;
}

.modal-price .button-price:hover{
  background-color: var(--medium-red);
}

.modal-price .button-price:focus{
  background-color: var(--dark-red);
  box-shadow:inset 0 3px 0 var(--button-shadow);
}

/*Pagination*/

.pagination{
  grid-column: 2/-1;
}

.pagination-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination-item:not(.last){
  margin-right: 11px;
}

.pagination-button{
  padding: 0;
  width: 50px;
  height: 50px;
  font: inherit;
  line-height: 18px;
  text-align: center;
  font-weight: 500;
  border: none;
  background-color: var(--basic-gray);
  text-transform: uppercase;
  color: var(--basic-black);
  border-radius: 3px;
}

.last .pagination-button{
  width: 260px;
}

.pagination-button:hover:not(.active){
  background-color: var(--medium-gray);
}

.pagination-button:focus:not(.active){
  background-color: var(--dark-gray);
  box-shadow:inset 0 3px 0 var(--button-shadow);
}

.pagination-button:focus span{
  opacity: 0.3;
}

.pagination-button.active{
  background-color: rgba(0, 0, 0, 0.0001);
  outline: 3px solid var(--active-border);
  outline-offset: -3px;
}


