/*Fonts*/
@font-face{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"),
    url("/fonts/roboto.woff2") format("woff2"),
    url("/fonts/roboto.woff") format("woff");
}

@font-face{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto"),
    url("/fonts/robotomedium.woff2") format("woff2"),
    url("/fonts/robotomedium.woff") format("woff");
}

@font-face{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"),
    url("/fonts/robotobold.woff2") format("woff2"),
    url("/fonts/robotobold.woff") format("woff");
}

/* Variables*/

:root{
  --basic-black: #000000;
  --basic-dark: #283136;
  --modal-map-text: #666666;
  --modal-placeholder-text: #444444;
  --radio-gray: #4d4d4d;
  --form-focus: #b4b9bb;
  --basic-gray: #eeeeee;
  --active-border: #dbdbdb;
  --border-gray: #d7dcde;
  --range-scale: #d7dcdf;
  --range-toggle: #ABABAB;
  --medium-gray: #dfdfdf;
  --dark-gray: #d5d5d5;
  --catalog-border-gray: #f2f2f2;
  --slider-gray: #c1c1c1;
  --social-gray: #e1e1e1;
  --basic-white: #ffffff;
  --basic-red: #fb565a;
  --medium-red: #e74246;
  --dark-red: #d7373b;
  --basic-green: #00ca74;
  --medium-green: #00bc6c;
  --dark-green: #00aa62;
  --basic-yellow: #efc849;
  --medium-yellow: #eab534;
  --dark-yellow: #e5a722;
  --opacity-white: rgba(255, 255, 255, 0.3);
  --button-shadow: rgba(1, 0, 1, 0.1);
}

/*Grid*/

.page{
  height: 100%;
}

/*Global*/

.page-body{
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*Button*/

button{
  margin: 0;
  padding: 0;
}

.button{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 3px;
}

.button:hover{
  background-color: var(--medium-red);
}

.button:focus{
  background-color: var(--dark-red);
  color: var(--opacity-white);
}

/*Main-header*/

.main-header h1{
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 108px;
}

.main-header{
  background-color: var(--basic-gray);
  margin-bottom: 80px;
}

.main-navigation{
  font-size: inherit;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;

  width: 1160px;
  margin: 50px auto 0px auto;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.main-header-logo{
  width: 160px;
  height: 65px;
  margin-right: 202px;
}

.main-header-logo:hover{
  opacity: 0.7;
}

.main-header-logo:focus{
  opacity: 0.3;
}

.site-navigation{
  list-style: none;
  margin: 0;
  margin-right: 244px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}

.site-navigation-list:not(:last-child){
  margin-right: 45px;
}

.site-navigation-list a,
.user-navigation a{
  padding-bottom: 20px;
}

.site-navigation a,
.user-navigation a{
  color: var(--basic-black);
}

.site-navigation a:hover,
.user-navigation a:hover{
  color: var(--basic-red);
}

.site-navigation a:focus,
.user-navigation a:focus{
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation a:not([href]),
.user-navigation a:not([href]){
  border-bottom: 2px solid var(--basic-red);
}

.user-navigation{
  margin-top: 26px;
}

.user-navigation .basket-link{
  padding-left: 40px;
  position: relative;
}

.basket-link::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 2px;
  left: 0;
  background-image: url("../img/icons/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}


/*Features*/

.features{
  width: 1157px;
  margin: 0 auto;
  position: relative;
}

.slider-list{
  margin: 0;
  padding: 0;
  list-style: none;
}



.slide{
  display: none;
}

.slide-current{
  display: grid;
  grid-template-columns: 397px 760px;
}



.slider-item h3{
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: var(--basic-black);
  max-width: 538px;
  padding: 0;
  margin: 0px;
  margin-top: 78px;
  margin-bottom: 25px;
  grid-column: 1/-1;
  grid-row: 1/2;
}

.slider-item p{
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
  grid-column: 1/-1;
  grid-row: 2/3;
}

.slider-button{
  display: inline-block;
  box-sizing: border-box;
  width: 240px;
  height: 50px;
  cursor: pointer;
  padding-top: 17px;
  margin-bottom: 80px;
  text-align: center;
}

.slider-item img{
  width: 760px;
  height: 431px;

  grid-row: 1/4;
  grid-column: 2/-1;
}

.slider-controls{
  position: absolute;
  left: 536px;
  bottom: 96px;
  z-index: 20;
  display: flex;
  width: 88px;
  justify-content: space-between;
}

.slider-controls button{
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.slider-controls .current{
  outline: 2px solid var(--slider-gray);
  outline-offset: -7px;
}

/*Container*/
.container{
  width: 1160px;
  margin: 0 auto;
  padding: 0;
 }

.index-page{
  margin-bottom: 80px;
}


/*Services*/


.services{
  margin-bottom: 80px;
}

.services-list{
  width: 1100px;
  min-height: 347px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-item{
  display: flex;
  flex-direction: column;
}

.services-item img{
  margin-bottom: 25px;
}

.services-item h3{
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.services-item p{
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.order-red-button{
  display: inline-block;
  width: 160px;
  height: 50px;
  padding-top: 17px;
  box-sizing: border-box;
  color: var(--basic-white);
  line-height: 18px;
  background-color: var(--basic-red);
  vertical-align: middle;
  text-align: center;
}

.order-red-button:hover{
  background-color: var(--medium-red);
}

.order-red-button:focus{
  background-color: var(--dark-red);

}

.services-item .order-green-button{
  display: inline-block;
  width: 160px;
  height: 50px;
  padding-top: 17px;
  box-sizing: border-box;
  color: var(--basic-white);
  line-height: 18px;
  background-color: var(--basic-green);
  vertical-align: middle;
  text-align: center;
}

.services-item .order-green-button:hover{
  background-color: var(--medium-green);
}

.services-item .order-green-button:focus{
  background-color: var(--dark-green);
}

.services-item .order-green-button:focus span{
  opacity: 0.3;
}

.services-item .order-yellow-button{
  display: inline-block;
  width: 160px;
  height: 50px;
  padding-top: 17px;
  box-sizing: border-box;
  color: var(--basic-white);
  line-height: 18px;
  background-color: var(--basic-yellow);
  vertical-align: middle;
  text-align: center;
}

.services-item .order-yellow-button:hover{
  background-color: var(--medium-yellow);
}

.services-item .order-yellow-button:focus{
  background-color: var(--dark-yellow);
}

.services-item .order-yellow-button:focus span{
  opacity: 0.3;
}

.line{
  width: 1158px;
  height: 2px;
  background-color: var(--basic-gray);
  margin-bottom: 39px;
}


/*Index colunms*/


.index-columns{
  width: 1174px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 73px;
}


/*About*/


.intro{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);

  margin: 0;
  padding: 0;
  margin-top: 34px;
  margin-bottom: 32px;
}

.privelege{
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.option{
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.option-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.option-item:not(:last-child){
  margin-bottom: 24px;
}

.option-item{
  padding-left: 32px;
  position: relative;
}

.option-item::before{
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  left: 0;
  top: 11px;
  background-color: var(--basic-red);
}


/*Statistic*/


.statistic{
  width: 360px;
  margin-right: 14px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.statistic img{
  width: 360px;
  height: 208px;
  margin-bottom: 37px;
}

.statistic-table{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.table-caption{
  margin: 0;
  margin-bottom: 31px;
  text-align: center;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.statistic-table dd{
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0;
  text-align: left;
  margin-bottom: 10px;
  grid-row: 1;

}

.statistic-table .percent{
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  color: var(--basic-black);
}

.statistic-table dt{
  line-height: 18px;
  grid-row: 2;
}


/*Clients*/


.clients-list{
  box-sizing: border-box;
  border-top: 2px solid var(--basic-gray);
  border-bottom: 2px solid var(--basic-gray);
  min-height: 184px;
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.clients-item:first-child,
.clients-item:last-child{
  width: 280px;

}

.clients-item{
  width: 300px;
  height: 180px;
  text-align: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.clients-item:first-child{
  transform: translate(-8px, 10px);
}

.clients-item:nth-child(2),
.clients-item:nth-child(3){
  transform: translateY(10px);
}

.clients-item:last-child{
  transform: translate(10px, 10px);
}

.clients-item:not(:last-child)::after{
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--basic-gray);
  right: 0;
  top: 66px;
}

.clients-item a{
  opacity: 0.2;
}


.clients-item a:hover{
  opacity: 1;
}

.clients-item a:focus{
  opacity: 0.1;
}


/*footer*/


.main-footer{
  margin-bottom: 68px;
}

.main-footer-catalog{
  margin-bottom: 76px;
}

.footer-contacts{ /*От карты до девиза*/
  margin-bottom: 68px;

  width: 100%;
  height: 416px;

}

.map{
  position: relative;
  margin: 0 auto;
  width: 1440px;
  height: 416px;

}

.map-contacts{
  position: absolute;
  left: 140px;
  bottom: 54px;
  width: 319px;
  min-height: 308px;
  background-color: #00aa62;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}

.map-contacts-wrapper{
  padding:49px 50px 47px;
}

.map-contacts h3{
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.map-contacts p{
  margin: 0;
  padding: 0;
  line-height: 18px;
  color: var(--modal-map-text);
}

.contacts-phone{
  display: block;
  color: var(--modal-map-text);
  line-height: 18px;
  margin-top: 18px;
  margin-bottom: 37px;
}

.modal-button{
  margin: 0;
  padding: 0;
  width: 219px;
  height: 50px;
}

/*Social*/

.footer-wrapper{
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 140px;
}

.social-list{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 260px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-item {
  width: 81px;
  height: 81px;
  background-color: var(--social-gray);
  border-radius: 50%;
}

.social-item .social-button{
  width: 81px;
  height: 81px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.social-button:hover{
  background-color: var(--medium-red);
}

.social-button:focus{
  background-color: var(--dark-red);
}

.social-button:focus img{
  opacity: 0.3;
}



/*Slogan*/

.slogan p{
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: var(--basic-black);
  margin-top: 7px;
  margin-bottom: 10px;
}

.slogan .discount{
  font-size: inherit;
  line-height: 22px;
  font-weight: 400;
  color: var(--modal-placeholder-text);
  margin: 0;
  padding: 0;
}


/*Modal*/


.modal{

  margin: 50px;
  display: flex;
  flex-wrap: wrap;

  width: 960px;
  min-height: 590px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.not-active{
  display: none;
}

.modal h3{
  order: 1;

  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  color: var(--basic-black);
  max-width: 738px;
  margin-top: 63px;
  margin-left: 100px;
  margin-bottom: 37px;

}

.login-form{
  order: 2;

  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 84px;
  height: 353px;
  display: grid;
  grid-template-columns: 360px 360px;
  grid-template-rows: 77px 145px 50px;
  column-gap: 40px;
  row-gap: 34px;
}

.login-form p{
  margin: 0;
  padding: 0;
}

.login-form .name{
  grid-column: 1/2;
}

.login-form .email{
  grid-column: 2/3;
}

.login-form .comment{
  grid-column: 1/-1;
  grid-row: 2/3;
}

.login-form .button{
  grid-column: 1/2;
  grid-row: -2/-1;
}

.login-form label{
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-black);
}

.login-form input[type="email"],
.login-form input[type="text"],
.login-form .login-message{
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  padding-right: 14px;
  font:  inherit;
  color: var(--modal-placeholder-text);
  line-height: 18px;
  border: 2px solid var(--border-gray);
}

.login-form .login-message{
  height: 118px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
  color: var(--modal-placeholder-text);
  opacity: 0.5;
}

input:focus::-webkit-input-placeholder{
  opacity: 1;
}

.login-form input[type="email"]:hover,
.login-form input[type="text"]:hover,
.login-form .login-message:hover{
  border: 2px solid var(--form-focus);
  color: var(--modal-placeholder-text);
}

.login-form input[type="email"]:focus,
.login-form input[type="text"]:focus,
.login-form .login-message:focus{
  border: 2px solid var(--basic-black);
  color: var(--basic-black);
}

.login-form input[type="email"]:invalid,
.login-form input[type="text"]:invalid,
.login-form .login-message:invalid{
  border: 2px solid var(--medium-red);
  color: var(--medium-red);
}

.login-form .button{
  padding: 0;
  margin: 0;
  margin-top: 13px;
  width: 259px;
  height: 50px;
}

.modal-close{
  order: 1;

  width: 21px;
  height: 21px;
  padding: 0;
  margin-left:auto;
  margin-top: 78px;
  margin-right: 90px;
  border: none;
  background-color: var(--basic-white);
  opacity: 0.3;
}

.modal-close:hover{
  opacity: 1;
}

.modal-close:focus{
  opacity: 0.1;
}










/*Catalog.html*/

.inner-page{
  margin-bottom: 55px;
}

.inner-navigation{
  margin-bottom: 78px;
}

.inner-page h1{
  width: 727px;
  margin: 0 auto 108px;
}


/*Page-catalog*/


 .page-catalog{
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
  margin-bottom: 60px;
  grid-template-areas: "filter sort sort"
                       "filter catalog catalog"
                       ". pagination pagination";
 }


 /*Sort*/


.sort{
  grid-area: sort;
  margin-bottom: 88px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 42px;
}

.sort h3{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.sort-list-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sort-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.sort-item:not(:last-child){
  margin-right: 25px;
}

.up-down{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.up-down .sort-item-down{
  margin-right: 18px;
}

.up-down .sort-item-up{
  transform: rotate(180deg);
}

.sort-item button{
text-transform: uppercase;
font-size: 14px;
line-height: 18px;
color: var(--basic-black);
border: none;
background-color: inherit;
opacity: 0.3;
}

.sort-item .active{
  opacity: 1;
}

.sort-item:nth-child(4){
  margin-left: 0px;
}

.sort-item button:hover:not(.active){
  opacity: 0.6;
}

.sort-item button:focus,
.services-item button:active{
  opacity: 1;
}


/*Filter*/


.filter{
  grid-area: filter;
}

.filter-form fieldset{
  border: none;
  margin: 0;
  padding: 0;
}

.filter-form legend{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-bottom: 16px; /*до текста*/
}

.filter-form .form-price-range{
  margin-bottom: 54px;
}

.form-price-range legend{
  margin-bottom: 48px;
}

.filter-form label{
  line-height: 20px;
}

.range-filter{
  width: 260px;
}

.range-controls{
  position: relative;
  height: 41px;
  margin-bottom: 14px;
  padding-top: 39px;
  background-color: var(--basic-gray);
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
}

.range-controls .scale{
  height: 2px;
  background:var(--range-scale);
}

.range-controls .bar{
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}

.range-controls .toggle{
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color:var(--range-toggle);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.range-controls .toggle-min{
  left: 18px;
}

.range-controls .toggle-max{
  left: 160px;
}

.price-controls{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price-controls label{
  text-transform: uppercase;
  line-height: 22px;
}

.price-controls input{
  width: 60px;
  padding: 8px;
  margin-left: 11px;
  text-align: center;
  color: var(--basic-dark);
  border: none;
  border-radius: 3px;
  background: var(--basic-gray);
  font-family: inherit;
  font-size: inherit;
  line-height: 22px;
}

.filter-form .filter-item{
  margin: 0;
  padding: 0;
  height: 20px;
}

.filter-form .filter-item:not(:last-child){
  margin-bottom: 20px;
}

.filter-form .form-net{
  margin-bottom: 47px;
}

.filter-item label{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.form-net label,
.form-peculiarities label{
  padding-left: 36px;
}

.filter-input-radio + label::before{
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  top:-2px;
  background-color: var(--basic-white);
  border: 4px solid var(--radio-gray);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked + label::after{
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--radio-gray);
  border-radius: 50%;
  left: 8px;
  top: 6px;
  opacity: 0.4;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:hover + label::after,
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:checked:hover + label::after{
  opacity: 1;
}

.filter-input-radio:focus + label::before,
.filter-input-radio:focus + label::after,
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:checked:focus + label::after{
  opacity: 1;
}

.filter-input-radio:disabled + label::before,
.filter-input-radio:disabled + label::after,
.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::after{
  opacity: 0.1;
}

.filter-form input:disabled+label{
  opacity: 0.3;
}



.filter-form .form-peculiarities{
  margin-bottom: 50px;
}

.filter-input-checkbox + label::before{
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  left: 0;
  top:-1px;
  background-color: var(--basic-white);
  border: 2px solid var(--radio-gray);
  border-radius: 3px;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before{
  opacity: 0;
}

.filter-input-checkbox:checked + label::after{
  content: "";
  position: absolute;
  width: 25px;
  height: 23px;
  background-image: url("../img/icons/checkbox_on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 0px;
  top: -1px;
  opacity: 0.4;
}

.filter-button{
  padding: 0;
  font: inherit;
  width: 260px;
  height: 50px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-gray);
  border: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
}

.filter-button:hover{
  background-color: var(--medium-gray);
}

.filter-button:focus{
  background-color: var(--dark-gray);
  box-shadow:inset 0 3px 0 var(--button-shadow);
}

.filter-button:focus span{
  opacity: 0.3;
}


/*Catalog*/


.catalog{
  grid-area: catalog;
  margin-bottom: 55px;
}

.catalog-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 42px;
  row-gap: 72px;
}

.catalog-item{
  position: relative;
  margin: 0;
  width: 360px;
  height: 578px;
  border-radius: 3px;
  background-color: var(--catalog-border-gray);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.catalog-item::before{
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  top:-40px;
  background-image: url("../img/icons/browser.svg");
  opacity: 12%;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-item:hover::before{
  opacity: 1;
}

.catalog-item:first-child{
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.card-img{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  outline: 1px solid var(--catalog-border-gray);
  outline-offset:-1px ;
  width: 360px;
  height: 578px;
}

.modal-price{
  visibility: hidden;
  position: absolute;
  bottom: 0;
  width: 360px;
  height: 231px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font: inherit;
  line-height: 18px;
  background-color: var(--basic-gray);
  color: var(--modal-map-text);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.catalog-item:hover .modal-price{
  visibility: visible;
}

.modal-price a{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 26px;
  margin-bottom: 12px;
}

.modal-price a:hover{
  color: var(--basic-red);
}

.modal-price a:focus{
  color: var(--basic-black);
  opacity: 0.3;
}

.modal-price p{
  margin-top: 0;
  margin-bottom: 32px;
}

.modal-price .button-price{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 3px;

  width: 200px;
  height: 50px;
  align-self: center;
  margin-top: 0;
  margin-bottom: 44px;
}

.modal-price .button-price:hover{
  background-color: var(--medium-red);
}

.modal-price .button-price:focus{
  background-color: var(--dark-red);
  box-shadow:inset 0 3px 0 var(--button-shadow);
}

/*Pagination*/

.pagination{
  grid-area: pagination;
}

.pagination-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.pagination-item:not(.last){
  margin-right: 11px;
}

.pagination-button{
  padding: 0;
  width: 50px;
  height: 50px;
  font: inherit;
  line-height: 18px;
  text-align: center;
  font-weight: 500;
  border: none;
  background-color: var(--basic-gray);
  text-transform: uppercase;
  color: var(--basic-black);
  border-radius: 3px;
}

.pagination-button span{
  display: inline-block;
  padding-top: 8px;
}

.last .pagination-button{
  width: 260px;
}

.pagination-button:hover:not(.active){
  background-color: var(--medium-gray);
}

.pagination-button:focus:not(.active){
  background-color: var(--dark-gray);
  box-shadow:inset 0 3px 0 var(--button-shadow);
}

.pagination-button:focus span{
  opacity: 0.3;
}

.pagination-button.active{
  background-color: rgba(0, 0, 0, 0.0001);
  outline: 3px solid var(--active-border);
  outline-offset: -3px;
}


